# Python
__pycache__/
*.pyc

# Файлы виртуального окружения
venv/
.venv/
env/
instruction/
# Environment
.env

# Data files
*.json
*.tmp
*.corrupted_*
*.jpg
*.png

# Images (if they are user-specific or private)
my_QR.png 